
<!-- ========== MAIN ========== -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/layout.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/content.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>

<body class="body">

<div class="container-fluid">
    <div class="container-fluid">
       
        <div class="bg-white rounded-lg shadow-md p-4 pdf-viewer text-center mb-5">
            <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-gray-50">
                    <tr>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            No</th>
                        <th scope="col"
                            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Nama Mahasiswa</th>
                        <th scope="col"
                            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Jenis UKT</th>
                        <th scope="col"
                            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            SKS</th>
                        <th scope="col"
                            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            File</th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Status</th>
                      
    
    
                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                    <% items.forEach(function(mhs, index) { %>
                        <tr>
                            <td class="px-6 py-4 text-sm text-gray-500 text-left">
                                <%= index + 1 %>
                            </td>
                            <td class="py-4 text-sm text-left px-6 text-gray-500">
                                <%= mhs.nama_mahasiswa%>
                            </td>
                            <td class="px-6 text-sm font-medium text-left text-gray-900">
                                <%= mhs.jenis_ukt%>
                            </td>
                            <td class="py-4 text-sm text-left px-6 text-gray-500">
                                <%= mhs.sks %>
                            </td>
                            <td><a href="/uploads/<%= mhs.file %>" target="_blank" style="color: blue;">
                                    <%= mhs.file %>
                                </a></td>
                            <td class="px-6 py-4 whitespace-nowrap">
                            
                                <% if (mhs.status==0) { %>
                                    <span class="inline-flex items-center px-3 py-1 rounded-full text-sm font-medium text-white"
                                        style="background-color:rgb(245, 178, 9);">
                                        Menunggu</span>
                                    <% } else if (mhs.status==1) { %>
                                        <span class="inline-flex items-center px-3 py-1 rounded-full text-sm font-medium  text-white"
                                            style="background-color:rgb(16, 212, 56);">
                                            Diterima</span>
                                        <% } else if (mhs.status==2) { %>
                                            <span class="inline-flex items-center px-3 py-1 rounded-full text-sm font-medium text-white"
                                                style="background-color:rgb(255, 52, 34);">
                                                Ditolak</span>
                                            <% } %>
                            
                            </td>
                        
    
                        </tr>
                        <% }); %>
                </tbody>
            </table>
        </div>
    
    </div>
</div>


    <script>


      window.onload = function () {
        window.print()
      }
    window.onafterprint = function () {
        window.location.href = '/admin/pengajuan';
    }
    </script>

</body>
</html>